
html, body {
  height: 100%;
  width: 100%;
}

.app {
  background-color: black;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.input-label {
  margin: 10;
  font-size: 18px;
  color: chartreuse;
}

.input {
  margin: 10;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
